/*header*/
body{
    background-color: rgba(13, 51, 21, 0.932);
}
header{
    background-color: rgb(94, 59, 59);
    padding-top: 30px;
}
header img{
    width: 70px;
    height: 80px;
    padding-top: 20px;

}
hr{
    color-interpolation-filters: linearRGB;

}

#redes-sociales{
    padding-top: 50px;
}
#redes-sociales i{
    width: 30px;
    height: 30px;
    
}
.siguenos{
    color: white;
}
.col-md-6 h6 {
    padding-top: 30px;
    color: white;
    font-size: 3rem;    
}
.col-md-4 h6 {
    padding-top: 30px;
    color: white;
    font-size: 3rem;    
}
.menu-bar{
   background-color: rgb(224, 152, 58);
}
.menu-bar a{
    color: white;
    font-size: 16px;
    font-weight: 500;
}
.menu-bar a:hover{
    text-decoration: none;
    color: black;
}


.slider{
    width: 95%;    
    margin: auto;
    overflow: hidden;
}
.slider ul{
    padding: 0%;
    display: flex;
    width: 400%; 
    height: 100%;   
    animation: cambio 20s infinite alternate;

}
.slider li{
    list-style: none;
    width: 100%;
}
.slider img{
    width: 99%;
    height: 100%;
}

@keyframes cambio {
    0%{margin-left: 0%;}
    20%{margin-left: 0%;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}

/*hamburger*/
#Ingre h6{
    font-size: 5rem;
}
.hamburguesa{
    margin: 0;
    padding: 0;
    display: flex;
    box-sizing: border-box;
}
#c-slider{
    margin: auto;
    width: 85%;
    position: relative;
    overflow: hidden;
}
#slider{
    display: flex;
    width: 600%;
}
section{
    width: 100%;
}
#slider img{
    display: block;
    width: 90%;
    height: 100%;
    
}
#btn-prev, #btn-next{
    width: 40px;
    height: 40px;
    background: rgba(255,255,255,0.7);
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    line-height: 40px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
    font-family: monospace;
    cursor: pointer;
}
#btn-prev:hover, #btn-next:hover{
    background: rgba(255,255,255,1);
}
#btn-prev{
    left: 10px;
}
#btn-next{
    right: 50px;
}

/*perros*/
.hogdogs{
    margin: 0;
    padding: 0;
    display: flex;
    box-sizing: border-box;
}
#p-slider{
    margin: auto;
    width: 85%;
    position: relative;
    overflow: hidden;
}
#sliPerros{
    display: flex;
    width: 600%;
}
#sliPerros section{
    width: 100%;
}
#sliPerros img{
    display: block;
    width: 90%;
    height: 100%;
    
}
#ant_erior, #des_pues{
    width: 40px;
    height: 40px;
    background: rgba(255,255,255,0.7);
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    line-height: 40px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
    font-family: monospace;
    cursor: pointer;
}
#ant_erior:hover, #des_pues:hover{
    background: rgba(255,255,255,1);
}
#ant_erior{
    left: 10px;
}
#des_pues{
    right: 50px;
}
/*papas*/
.papasLocas{
    margin: 0;
    padding: 0;
    display: flex;
    box-sizing: border-box;
}
#l-slider{
    margin: auto;
    width: 85%;
    position: relative;
    overflow: hidden;
}
#sliPapas{
    display: flex;
    width: 600%;
}
#sliPapas section{
    width: 100%;
}
#sliPapas img{
    display: block;
    width: 90%;
    height: 100%;
    
}
#ant, #des{
    width: 40px;
    height: 40px;
    background: rgba(255,255,255,0.7);
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    line-height: 40px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
    font-family: monospace;
    cursor: pointer;
}
#ant:hover, #des:hover{
    background: rgba(255,255,255,1);
}
#ant{
    left: 10px;
}
#des{
    right: 50px;
}

/*carnes*/
.carnes{
    margin: 0;
    padding: 0;
    display: flex;
    box-sizing: border-box;
}
#r-slider{
    margin: auto;
    width: 85%;
    position: relative;
    overflow: hidden;
}
#sliCarnes{
    display: flex;
    width: 600%;
}
#sliCarnes section{
    width: 100%;
}
#sliCarnes img{
    display: block;
    width: 90%;
    height: 100%;
    
}
#ante, #desp{
    width: 40px;
    height: 40px;
    background: rgba(255,255,255,0.7);
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    line-height: 40px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
    font-family: monospace;
    cursor: pointer;
}
#ante:hover, #desp:hover{
    background: rgba(255,255,255,1);
}
#ante{
    left: 10px;
}
#desp{
    right: 50px;
}

/*otros*/
.otros{
    margin: 0;
    padding: 0;
    display: flex;
    box-sizing: border-box;
}
#o-slider{
    margin: auto;
    width: 85%;
    position: relative;
    overflow: hidden;
}
#sliOtros{
    display: flex;
    width: 600%;
}
#sliOtros section{
    width: 100%;
}
#sliOtros img{
    display: block;
    width: 90%;
    height: 100%;
    
}
#antesd, #despuesd{
    width: 40px;
    height: 40px;
    background: rgba(255,255,255,0.7);
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    line-height: 40px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
    font-family: monospace;
    cursor: pointer;
}
#antesd:hover, #despuesd:hover{
    background: rgba(255,255,255,1);
}
#antesd{
    left: 10px;
}
#despuesd{
    right: 50px;
}