/*header*/
body{
    background-color: rgb(43, 39, 39);
}
header{
    background-color: rgb(94, 59, 59);
    padding-top: 30px;
}
header img{
    width: 70px;
    height: 80px;
    padding-top: 20px;

}

#redes-sociales{
    padding-top: 50px;
}
#redes-sociales i{
    width: 30px;
    height: 30px;
    
}
.siguenos{
    color: white;
}
.col-md-4 h6 {
    padding-top: 30px;
    color: white;
    font-size: 3rem;
    
}
.menu-bar{
   background-color: rgb(224, 152, 58);
}
.menu-bar a{
    color: white;
    font-size: 16px;
    font-weight: 500;
}
.menu-bar a:hover{
    text-decoration: none;
    color: black;
}
.slider{
    width: 95%;
    margin: auto;
    overflow: hidden;
}
.slider ul{
    padding: 0%;
    display: flex;
    width: 400%;    
    animation: cambio 20s infinite alternate;

}
.slider li{
    list-style: none;
    width: 100%;
}
.slider img{
    width: 99%;
    height: 100%;
}
@keyframes cambio {
    0%{margin-left: 0%;}
    20%{margin-left: 0%;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}